body {
	color: grey;
	background-image: url("wallpaper_jujutsu.png");
	background-repeat: no-repeat;
	background-size:cover
}

p {
	text-align: center;
}

hyperlinks {
	color: blue;
	font-weight: bold;
}
	
	
